*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppin', sans-serif;
}
h1{
    margin: 30px 0 50px;
    text-align: center;
    color: forestgreen;
}

.gallery img{
    width:230px;
    padding: 5px;
    margin-left: 25px;
   filter: grayscale(100%);
}
.gallery img:hover{
    filter: grayscale(0);
}
@media screen and (max-width: 574px) {
    .gallery img{
        width:25rem;
        padding: 5px;
         display: block;
         flex-direction: column ;
       filter: grayscale(100%);
    }
}